body {
  background-color: #5c415d;
  margin: 0;
}

#sidebar {
  width: 20%;
  height: 100%;
  align-content: center;
  margin: 1rem;
}

#something {
  display: flex;
}

#GameContainer {
  height: auto;
  display: inline-flex;
  margin-left: 15%;
  margin-right: 15%;
  margin: 1rem;
  display: grid;
  max-height: 50%;
  max-width: 50%;
  width: auto;
}

#GameContainer > span > table > tr > td {
  height: 3rem;
  width: 3rem;
  border: 2px solid #393e41;
  font-size: 200%;
  align-content: center;
  text-align: center;
}

#GameContainer > span > table {
  display: inline-block;
  margin: 10px 10px 0 0;
}

.Menubutton {
  background-color: #e94f37; /* Green */
  border: none;
  color: #f6f7eb;
  padding: 15px 32px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 25px;
  margin-bottom: 10px;
}

#LBLplayerTurn {
  color: #fffc31;
}
